<div class="grid">
  <div class="header">
    <h1>Hair Salon</h1>
  </div>
  <div class="left">
    <h3 id="view"><a href='/stylist'>View Stylists</a></h3>
  </div>
  <div class="right">
    <h3 id="stylist"><a href='/stylist/new'>Add a new Stylist</a></h3>
  </div>
</div>
