
@using HairSalon.Models

<div>
  <div>
    <div>
      <p><a href="/">Home</a></p>
    </div>
      <h1>stylist</h1>
  </div>
</div>



  <div class="back">
  <form action="/stylist/new" method="post">
    <label for="name">Add Stylist</label>
    <input type="text" name="name"/>
    <button type="submit">Add</button>
  </div>
