
@using HairSalon.Models

<div>
  <div>
    <div>
      <p><a href="/">Home</a></p>
    </div>
      <h1>stylist</h1>
  </div>
</div>

@foreach (Stylist stylist in Model)
{
<form action="/stylist/@stylist.Id/delete" method="post">
  <h3><a href='/stylist/@stylist.Id'>@stylist.Name</a></h3>
  <button type="submit" value="@stylist.Id">Remove</button>
</form>
}

  <form action="/stylist/new" method="post">
    <label for="name">Add Stylist</label>
    <input type="text" name="name"/>
    <button type="submit">Add</button>
  </form>

<form action="/" method="get">
  <button type="submit">Home</button>
</form>
