<div class="grid">
  <div class="header">
    <div class="home">
      <p><a href="/">Home</a></p>
    </div>
    <h1>Create New stylist</h1>
  </div>
</div>
<div class="frame">
  <p>Add a stylist</p>

  <form action="/stylist" method="post" stylistId=>
    <label for="stylistName"></label>
    <input id="stylistName" name="stylistName" type="text" placeholder="Input Here"><br>
    <button type="submit">Add</button>
  </form>
</div>
<div class="back">
  <p><a href="/stylist">Back To stylist</a></p>
</div>
