<h3>Here are all the items in this stylist:</h3>



<p><a href='/stylist/@Model["stylist"].GetId()/clients/new'>Add a new item</a></p>
<p><a href='/stylist'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
