
@using HairSalon.Models;


<h3>@Model.Name</h3>

<div>
  <form action="stylist/@Model.Id/new" method="post">
  <label for="clientName">Add Client</label>
  <input type="text" name="clientName"/>
  <button type="submit">Add</button>
  </form>
</div>


<h2>Current Clients<h2>
@foreach (Client client in @Model.GetClients())
{
  <h3><a href=""/stylist/@Model.Id">@client.Name</a></h3>
}
