
@using HairSalon.Models;


<h3>@Model.Name</h3>

<div>
  <form action="stylists/@Model.id/clients/new" method="post">
  <label for="clientName">Add Client</label>
  <input type="text" name="clientName"/>
  <button type="submit">Add</button>
  </form>
</div>


<h2>Current Clients<h2>
<ul></ul>
