<h1>Add a new client to @Model.GetStylistName()</h1>

<form action='/stylist/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <label for='clientDescription'>client description</label>
  <input id='clientDescription' name='clientDescription' type='text'>
  <button type='submit'>Add client</button>
</form>
